<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.imnu.ciec.rtest3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".FourActivity">
            <intent-filter>
                <action android:name="cn.edu.imnu.ciec.rtest3.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cn.edu.imnu.ciec.rtest3.MY_CATEGORY" />
                <!-- 上面为隐式注册 -->
            </intent-filter>
        </activity>
        <activity android:name=".FiveActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <!--   隐式条件创建了一个可以解析http 的 action 就可以与浏览器什么的-->
            </intent-filter>
        </activity>
    </application>

</manifest>